@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Open+Sans:wght@300;400;600;700&family=Roboto+Slab:wght@500;700&family=Roboto:wght@100;300;400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
.gradient-text {
  background-clip: text;
  @apply bg-gradient-to-r from-emerald-900 to-emerald-500 text-transparent;
}
